div.mainDiv
{
    color: red;
}

div#heading
{
	margin-top: 5%;
	text-align: center;
    color: #567890;
}

div#mainBox
{
	text-align: left;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 30px;
    color: #345667;
}

div.sidebar
{
	text-align: left;
    color: #123456;
    float: left;
}

div.mainBlock
{
	text-align: left;
    color: #987654;
    margin-top:px;
}

a.sidebarLink
{
	text-align: center;
    color: #456789;
}

div.sidebar ul
{
   list-style-type: none;
   padding-right:10px;
   margin-left:0px;
   margin-right:40px;
   margin-top:0px;
}

div.sidebar li
{
   width: 150px;
   line-height:20px;
   padding-right: 10px;
   text-align: left;
   font-size:16;
}

.sidebar li:hover
{
   background-color: #7890ab;
}

.sidebar li.active, .sidebar li.active a
{
   color: #fedcba;
   background-color: #123456;
}

.sidebar a
{
   display: block;
}

img
{
	width: 100px;
	padding-left:80px;
}
